<div class="share">
    <h1>Bir şeyler paylaş</h1>

    <form action="post/share-post" method="post">
        <ul>
            <li>
                <label for="title">Başlık</label>
                <input type="text" name="title" id="title" required>
            </li>
            <li>
                <label for="content">İçerik</label>
                <textarea name="content" id="content" required></textarea>
            </li>
            <li>
                <button type="submit">Gönder</button>
            </li>
        </ul>
    </form>
</div>